@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

body {
  font-family: "Inter", sans-serif;
  background-color: black;
  color: white;
}

@layer components {
  .hero-button {
    @apply px-6 py-2 border border-[#000000] rounded-full uppercase text-sm tracking-widest text-gray-500 transition-all hover:border-[#f7ab0a]/60 hover:text-[#f7ab0a]/60;
  }

  .contact-input {
    @apply outline-none bg-slate-400/10 rounded-sm border-b px-5 py-3 border-[#000000] text-gray-500 placeholder-gray-500 transition-all focus:border-blue-300/40 focus:text-blue-300/40 hover:border-blue-300/40;
  }
}